In [2]:
import numpy as np
import pandas as pd
import dataframe as df

edu_df=pd.read_csv("states_all.csv")

In [3]:
#Question01
edu_df.isnull()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,True,True,True,True
2,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1711,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1712,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1713,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False
1714,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,False,False,False,False

In [4]:
edu_df.isnull().sum()*100/edu_df.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

In [5]:
(edu_df.isnull().sum()*100/edu_df.shape[0]).sort_values(ascending=False)[:20]

AVG_READING_8_SCORE             67.230321
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
ENROLL                          28.629738
OTHER_EXPENDITURE               28.629738
SUPPORT_SERVICES_EXPENDITURE    25.655977
CAPITAL_OUTLAY_EXPENDITURE      25.655977
INSTRUCTION_EXPENDITURE         25.655977
TOTAL_EXPENDITURE               25.655977
LOCAL_REVENUE                   25.655977
STATE_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
TOTAL_REVENUE                   25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
dtype: float64

In [6]:
#our interest will be focus on Grades_PK_G null value is 10.08%
#Question02
#Lets consider without year
edu_df.GRADES_PK_G

0        8224.0
1        2371.0
2        2544.0
3         808.0
4       59067.0
         ...
1710        NaN
1711        NaN
1712        NaN
1713        NaN
1714        NaN
Name: GRADES_PK_G, Length: 1715, dtype: float64

In [7]:
#Lets fill with mean value
edu_df['GRADES_PK_G'].describe()

count      1542.000000
mean      17840.958495
std       30016.603510
min          96.000000
25%        2199.750000
50%        8258.000000
75%       22691.750000
max      256222.000000
Name: GRADES_PK_G, dtype: float64

In [12]:
edu_df['GRADES_PK_G'].isnull().sum()

173

In [8]:
#Totally 173 null records, lets fill with the mean value, 17840.958495
edu_df["GRADES_PK_G_imputed"]=edu_df["GRADES_PK_G"].fillna(edu_df["GRADES_PK_G"].mean())

In [13]:
edu_df["GRADES_PK_G_imputed"].isnull().sum()

0

In [10]:
edu_df["GRADES_PK_G_imputed"].describe()

count      1715.000000
mean      17840.958495
std       28461.478658
min          96.000000
25%        2536.500000
50%       10310.000000
75%       19689.000000
max      256222.000000
Name: GRADES_PK_G_imputed, dtype: float64

In [ ]:
#Because we updated null value with mean, std value, 25%,50% and 75% values has been updated. As you can see, to be able to
#be reasonable with the mean value, updating with mean is more meaningful

In [105]:
#Question 03
#Lets see the year values
years=edu_df['YEAR'].unique()

means=[]
#Creating a new dataframe only contains year and Grade
edu_year_grade=edu_df[['YEAR', 'GRADES_PK_G']].copy()
#printing years
years=sorted(years)
years

[1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2019]

In [117]:
#Question 03
edu_df_mean=edu_df.groupby("YEAR")['GRADES_PK_G'].mean()
edu_df["GRADES_PK_G"].isnull().sum()

173

In [111]:
total=0
total_year=0
for y in years:
    for i in range(0, len(edu_year_grade)):

        if y==edu_year_grade.YEAR[i]:
            if pd.isnull(GRADES_PK_G[i]):
                total_year=total_year
                total=total
            else:
                total_year=total_year+edu_year_grade.GRADES_PK_G[i]
                total=total+1
    if total!=0:
        #print(y, total_year/total)
        means.append(total_year/total)   
    
    total=0
    total_year=0
#printing the calculated means
#means

#overwriting null values with yearly mean values
for y in range(0,len(years)):
    for i in range(0, len(edu_year_grade)):

        if years[y]==edu_year_grade.YEAR[i]:
            if pd.isnull(GRADES_PK_G[i]):
                GRADES_PK_G[i]=means[y]
GRADES_PK_G

C:\Users\tmedeni\AppData\Local\Temp\ipykernel_28860\2617189876.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GRADES_PK_G[i]=means[y]

0        8224.000000
1        2371.000000
2        2544.000000
3         808.000000
4       59067.000000
            ...
1710     5387.852941
1711     5387.852941
1712     5387.852941
1713     5387.852941
1714     5387.852941
Name: GRADES_PK_G, Length: 1715, dtype: float64

In [113]:
edu_df["GRADES_PK_G"]

0        8224.0
1        2371.0
2        2544.0
3         808.0
4       59067.0
         ...
1710        NaN
1711        NaN
1712        NaN
1713        NaN
1714        NaN
Name: GRADES_PK_G, Length: 1715, dtype: float64

In [118]:
GRADES_PK_G.isnull().sum()

0

In [119]:
#result of yearly base mean for missing values
GRADES_PK_G.describe()

count      1715.000000
mean      16945.349891
std       28653.825742
min          96.000000
25%        2536.500000
50%        7262.000000
75%       20341.431373
max      256222.000000
Name: GRADES_PK_G, dtype: float64

In [120]:
#with the missing values
edu_df["GRADES_PK_G"].describe()

count      1542.000000
mean      17840.958495
std       30016.603510
min          96.000000
25%        2199.750000
50%        8258.000000
75%       22691.750000
max      256222.000000
Name: GRADES_PK_G, dtype: float64

In [121]:
#result without yearly base mean for missing values
edu_df["GRADES_PK_G_imputed"].describe()

count      1715.000000
mean      17840.958495
std       28461.478658
min          96.000000
25%        2536.500000
50%       10310.000000
75%       19689.000000
max      256222.000000
Name: GRADES_PK_G_imputed, dtype: float64

In [122]:
#As you can see with consentrating on yearly bases, a more meaningful result is calculated, especially now we have a totally
#different mean values, this gives more logical structure

In [127]:
#Question 4
#For the interpolation, the year grouping does not considered
interpolated=edu_df.GRADES_PK_G.interpolate(method ='linear', limit_direction ='forward')
interpolated

0        8224.0
1        2371.0
2        2544.0
3         808.0
4       59067.0
         ...
1710      671.0
1711      671.0
1712      671.0
1713      671.0
1714      671.0
Name: GRADES_PK_G, Length: 1715, dtype: float64

In [125]:
edu_df["GRADES_PK_G"].isnull().sum()

173

In [124]:
edu_df["GRADES_PK_G"].describe()

count      1542.000000
mean      17840.958495
std       30016.603510
min          96.000000
25%        2199.750000
50%        8258.000000
75%       22691.750000
max      256222.000000
Name: GRADES_PK_G, dtype: float64

In [128]:
interpolated.isnull().sum()

0

In [130]:
interpolated.describe()

count      1715.000000
mean      17088.765889
std       29169.489099
min          96.000000
25%        1891.000000
50%        7865.000000
75%       20857.500000
max      256222.000000
Name: GRADES_PK_G, dtype: float64

In [ ]:
#Question05
#As it can be concluded, if the missing values are between other values, implementation of interpolation is meaningful, however
#in our data set, there are empty values for the whole 2019. Also for the data set, especially the last state values are missing
#this cause, the average values calculated with respect to following years, from other states.Especially for this dataset
#filling the missing values with the yearly bases is more meaningful. And 2019 totally removed because there is no data 
#with respect to GRADES_PK_G